<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /CIMS/hire-flow-buddy-95-main/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /CIMS/hire-flow-buddy-95-main/index.html [L]
</IfModule>
