<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /dev/cims/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /dev/cims/index.html [L]
</IfModule>
